# Note this requirements file is only used by sphinx. For regular installations, 
# see the setup.py file.
authlib==1.3.0
Flask==3.0.3
httpx==0.27.0
multiprocess==0.70.16
prompt_toolkit==3.0.43
psutil==5.9.8
python-dateutil==2.9.0.post0
sphinx-rtd-theme==2.0.0
websockets==12.0
